option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "tooltip_analytics/settings"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "tooltip_analytics/wsgi.py"

container_commands:
  01_build:
    command: "build/build.sh"
  02_pip:
    command: "/opt/python/run/venv/bin/pip install psycopg2"
